.container{

}



body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  
    .btn{
      background-color: #1D9AD4 ;
    }
    .btn:hover{
      background-color:#1963A0  ;
    }
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  
    
     
  }
  a{font-size: 18px;}
  
  h1{font-size: 52px;}
  h2{font-size: 36px;}
  
  p{
    font-size: 18px;
  }

.blog-header-logo {
    
    font-size: 2.25rem;
  }
  
  .blog-header-logo:hover {
    text-decoration: none;
  }
  

  
  .flex-auto {
    flex: 0 0 auto;
  }
  
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  
  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  
  /*
   * Blog posts
   */
  .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
  }

  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
    color: #1963A0;
    border: 1px solid;
  }


  /* Media query */




